/* Ini css */

/* tampilan body */
body{
    font-family: "Lato", sans-serif;
    text-align: justify;
    ol {
        margin: 15px;
        padding: 0;
    }

}
    
.judul{
    text-align: left;
    font-weight: bold;
}

.main-title {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}

.main-content {
    flex: 1;
    padding: 12px;
}

.input-title {
    font-size: 14px;
    font-weight: bold;
}

form {
    background-color:#E6F2F8;
    padding: 12px;
    border-radius: 8px;
}

.result-section {
    text-align: center;
    background-color:#E6F2F8;
    border-radius: 8px;
    padding: 12px;
}

.general-content {
    background-color:#E6F2F8;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    ol li{
        list-style: none;
      }
}

/* tampilan tombol */
.button {
    background-color: rgb(61, 182, 222);
    height: 36px;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid rgb(52, 160, 197);
}

.reset {
    background-color: rgb(255, 255, 255);
    height: 36px;
    border-radius: 5px;
    color: #000000;
    border: 1px solid rgb(216, 216, 216);
}

/* tampilan input nomor */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 8px;
  }
  
  input[type=number]:focus {
    border: 3px solid #555;
  }

/* tampilan radio */
.container {
    accent-color: #2600ff;
}

.right {
    display: none;
}

.left {
    padding-top: 12px;
    padding-left: 400px;
    padding-right: 400px;

}
